.map-container {
	
}
#usmap {
	border:1px solid #999;
	position:relative;
	height:600px;
	width:100%;
}
#usmap .datamaps-hoverover .hoverinfo {
	font-size:.8em !important;
}
.timer {
	font-size:.8em;
}